.loader {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid rgb(33, 33, 32);
    border-top: 20px solid rgb(215, 239, 239);
    animation: spinAnimate 1s ease-in-out 0s infinite;
}

@keyframes spinAnimate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}