body {
    background: #2b3246;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.check {

    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2b3246;
    cursor: pointer;
    box-shadow: 9px 9px 18px #262c3e,
        -9px -9px 18px #30384e;
    color: #0ad406;
    margin: 20px;
    justify-content: center;
}

.check:hover {
    background-color: rgba(147, 209, 117, 0.50);
    transition: 0.5s;

}

.color {
    animation: color 2s linear infinite;
    align-items: center;
}


.info {
    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor: pointer;
    box-shadow: 9px 9px 18px #262c3e,
        -9px -9px 18px #30384e;
    color: rgb(82, 125, 243);
    margin: 20px;

    justify-content: center;

}

.spin {
    animation: spin 2s linear infinite;
}

.info:hover {
    background-color: rgba(82, 125, 243, 0.50);
    transition: 0.5s;
}


.warning {
    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor: pointer;
    box-shadow: 9px 9px 18px #262c3e,
        -9px -9px 18px #30384e;
    color: rgb(247, 149, 72);
    margin: 20px;
    justify-content: center;
}


.warning:hover {
    background-color: rgba(114, 64, 25, 0.5);
    transition: 0.5s;
}


.rotate {
    animation: rotate 2s linear infinite;
}

.danger {
    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #2B3246;
    cursor: pointer;
    box-shadow: 9px 9px 18px #262c3e,
        -9px -9px 18px #30384e;
    color: rgb(255, 10, 1);
    margin: 20px;
    justify-content: center;
}

.danger:hover {
    background-color: rgba(255, 10, 1, 0.33);
    transition: 0.5s;
}


.shine {
    animation: shine 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes color {
    50% {
        color: #2B3246;
    }

    100% {
        color: #0ad406;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(90deg);
    }

    40% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-90deg);
    }

}

@keyframes shine {
    0% {
        color: #9198ad;
    }

    50% {
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 40px red,
            0 0 60px red,
            0 0 80px red;
    }
}